---
layout: default
---
<div class="container docs-container">
  <div class="row">
    <div class="col-md-3">
      <div class="sidebar hidden-print" role="complementary">
        {% include lefttree.html %}
      </div>
    </div>
    <div class="col-md-9" role="main">
      <div class="panel docs-content">
        <div class="wrapper">
            <header class="post-header">
              <h1 class="post-title">{{ page.title }}</h1>
              <!--
                <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
              -->
              <div class="meta">Posted on <span class="postdate">{{ page.date | date: "%b %d, %Y" }}</span> By <a target="_blank" href="{{site.home_site}}">{{ site.author }}</a></div>
              <br />
            </header>
            <article class="post-content">
              {{ content }}
            </article>
        </div>
      <!--For Comments
      <div class="panel docs-content">
        <article class="post-content">
          <div class="wrapper">
            {% include Others/comments %}
          </div>
        </article>
      </div>
      -->
    </div>
        <div style="float: right;">
<!-- AddToAny BEGIN -->
        <table>
            <tr>
                <td>
                    <span>分享到：</span>
                </td>
                <td>
                    <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                        <a class="a2a_dd" href="https://www.addtoany.com/share" title="分享到"></a>
                        <a class="a2a_button_qzone" title="分享到QQ空间"></a>
                        <a class="a2a_button_wechat" title="分享到微信"></a>
                        <a class="a2a_button_sina_weibo" title="分享到新浪微博"></a>
                        <a class="a2a_button_douban" title="分享到豆瓣"></a>
                        <a class="a2a_button_wordpress" title="分享到wordpress"></a>
                    </div>
                </td>
            </tr>
        </table>
        </div>
        <script>
            var a2a_config = a2a_config || {};
            a2a_config.num_services = 4;
        </script>
        <script async src="https://static.addtoany.com/menu/page.js"></script>
        </div>
<!-- AddToAny END -->
  </div>
</div>
